---
import Layout from "../layouts/Layout.astro"
import ButtonsContainer from "../components/ButtonsContainer"
---

<Layout
	title="Conversor de bases"
	pageTitle="Conversor de bases"
>
	<main>
		<ButtonsContainer client:only />
	</main>
</Layout>

<style>
	h1 {
		text-align: center;
		margin-top: 4rem;
	}

	main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		gap: 1.7rem
	}
</style>
