---
import Layout from "../layouts/Layout.astro"

---

<Layout title="Pasos multiplicación">
  <h1>Multiplicación realizando operación de desplazamiento</h1>
  
</Layout>

<style>
	h1 {
		text-align: center;
		margin-top: 4rem;
	}
</style>