.conversorInput {
  width: 100%;
  max-width: 200px;
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}


.conversorInput:focus {
  outline: none;
  border: 2px solid #525252;
  padding: calc(0.3rem - 1px);
}

.conversorInput.error {
  border: 1px solid rgb(200 0 0 / 40%);
  background-color: rgb(200 0 0 / 15%);
  padding: 0.3rem;
}

.conversorInput::-webkit-inner-spin-button,
.conversorInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.conversorInput[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.inputsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.buttonOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

@media (max-width: 768px) {
  .inputsContainer {
    gap: 1rem;
  }
}