.conversorInput {
  width: 100%;
  max-width: 200px;
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}


.conversorInput:focus {
  outline: none;
  border: 2px solid #525252;
  padding: calc(0.3rem - 1px);
}

.conversorInput.error {
  border: 1px solid rgb(200 0 0 / 40%);
  background-color: rgb(200 0 0 / 15%);
  padding: 0.3rem;
}

.conversorInput::-webkit-inner-spin-button,
.conversorInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.conversorInput[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.inputsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.buttonOptionsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;

}

.resultsTitle {
  margin: 1rem 0 0 0;
  font-size: 2rem;
}

.h2Titles {
  margin: 0 0 1rem 0;
}

.resultContainer {
  width: 100%;
  min-width: 200px;
  padding: 0.3rem;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.resultsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

@media (max-width: 768px) {
  .inputsContainer {
    gap: 1rem;
  }
}

.operationButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  
}

.operationButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  background-color: light-dark(#ffffff, #181a22);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: 500;
  transition: background-color 0.2s, scale 0.1s;
}

.operationButton:hover {
  background-color: light-dark(#dfdfdf, #14151b);
  scale: 1.05;
}

.operationButton:active {
  background-color: light-dark(#dfdfdf, #101014);
}

.operationButton.selected {
  background-color: light-dark(#dfdfdf, #101014);
  scale: 1.15;
}